@model List<Capstone.Models.Scrum>

@{
    Layout = "~/Views/Shared/_TempleScrumHeader.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/professorStyling.css">

    <title>Scrum Management Page</title>
</head>

<body>

    <div class="content-title">
        <h1>Scrum Management Page</h1>
    </div>

    <div class="content-container">
        <nav class="sidenav">
            <a asp-controller="Home" asp-action="ProfessorHome">Home</a>
            <a asp-controller="Home" asp-action="UserManagement">User Management</a>
            <a asp-controller="Home" asp-action="ViewReports">Scrum View</a>
            <a asp-controller="Home" asp-action="ScrumView">Scrum Management</a>
            <a asp-controller="Home" asp-action="TeamManagement">Team Management</a>
            <a asp-controller="Login" asp-action="Login">Logout</a>
        </nav>

        <!-- Scrums List -->
        <div id="scrumsList" class="scrums-container">
            @foreach (var scrum in Model)
            {
                <div class="scrum-row" data-scrum-id="@scrum.ID">
                    <form action="ScrumManagement" method="post">
                        <span class="scrum-name">@scrum.Name</span>
                        <span class="scrum-due-date">Due: @scrum.DateDue.ToString("MM/dd/yyyy")</span>
                        <input type="hidden" name="scrumID" value="@scrum.ID" />

                        @* Publish Button *@
                        <button type="submit" class="publish-btn" style="background-color: @(!scrum.IsActive ? "#A41C34" : "#808080");">
                            @(!scrum.IsActive ? "Publish" : "Published")
                        </button>

                        @* Remove Scrum Button *@
                        <button type="button" class="remove-scrum-btn">
                            &#x2716;
                        </button>
                    </form>
                </div>
            }


            <!-- Buttons at the Bottom -->
            <div class="bottom-buttons-container">
                <button type="button" class="bottom-button" id="addScrumBtn">Add Scrum</button>
                <button type="button" class="bottom-button" id="exportDataBtn">Export Data</button>
                <button type="button" class="bottom-button" id="newSemesterBtn">New Semester</button>
            </div>

        </div>

        

    </div>
</body>
